body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black; 
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("./assets/backgroundImage.jpeg") no-repeat center center/cover;
    opacity: 0.5; /* Adjust opacity (0.1 - 1) */
    z-index: -1;
  }
  
  .app-container {
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
    color: white;
  }
  